<a href="https://colab.research.google.com/github/luisantoniounocc/ejemplos/blob/main/EjerciciosPracticos_panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EJERCICIO 01

In [7]:
#Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie
#con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

import pandas as pd

años = input("Ingrese los años separados por comas: ")
ventas = input("Ingrese las ventas correspondientes separadas por comas: ")

lista_años = [int(a) for a in años.split(",")]
lista_ventas = [float(v) for v in ventas.split(",")]

serie_ventas = pd.Series(lista_ventas, index=lista_años, name="Ventas originales")
serie_descuento = serie_ventas * 0.90
serie_descuento.name = "Ventas con descuento"

print("\nVentas originales:")
print(serie_ventas)
print("\nVentas con 10% de descuento:")
print(serie_descuento)

Ingrese los años separados por comas: 2020
Ingrese las ventas correspondientes separadas por comas: 30

Ventas originales:
2020    30.0
Name: Ventas originales, dtype: float64

Ventas con 10% de descuento:
2020    27.0
Name: Ventas con descuento, dtype: float64

EJERCICIO_02

In [6]:
import pandas as pd

def resumen_notas(diccionario_notas):
    notas = pd.Series(diccionario_notas)
    resumen = pd.Series({
        'Nota mínima': notas.min(),
        'Nota máxima': notas.max(),
        'Media': notas.mean(),
        'Desviación típica': notas.std()
    })
    return resumen

notas_alumnos = {
    'Ana': 15,
    'Luis': 17,
    'María': 14,
    'Pedro': 18,
    'Lucía': 20
}

resultado = resumen_notas(notas_alumnos)
print(resultado)

Nota mínima          14.000000
Nota máxima          20.000000
Media                16.800000
Desviación típica     2.387467
dtype: float64