<a href="https://colab.research.google.com/github/luisantoniounocc/ejemplos/blob/main/EjerciciosPracticos_panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie
#con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

import pandas as pd
# Pedir al usuario el rango de años
año_inicio = int(input("Ingrese el año de inicio: "))
año_fin = int(input("Ingrese el año de fin: "))
# Crear una lista para almacenar las ventas
ventas = []
# Pedir al usuario las ventas para cada año en el rango
for año in range(año_inicio, año_fin + 1):
  venta = float(input(f"Ingrese las ventas para el año {año}: "))
  ventas.append(venta)
# Crear una serie de pandas con las ventas indexada por los años
serie_ventas = pd.Series(ventas, index=range(año_inicio, año_fin + 1))
# Aplicar un descuento del 10% a las ventas
serie_ventas_con_descuento = serie_ventas * 0.9
# Mostrar las series de ventas
print("\nVentas antes del descuento:")
print(serie_ventas)
print("\nVentas después del descuento (10%):")
serie_ventas_con_descuento

Ingrese el año de inicio: 2000
Ingrese el año de fin: 2001
Ingrese las ventas para el año 2000: 20
Ingrese las ventas para el año 2001: 30

Ventas antes del descuento:
2000    20.0
2001    30.0
dtype: float64

Ventas después del descuento (10%):

2000    18.0
2001    27.0
dtype: float64